.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(5, 5, 61);
  color: white;
  position: sticky;
  top: 0%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
h1{
  color: red;
  font-size: 50px;
}
a{
  color: white;
  margin-top: 11px;
  text-decoration: none;
}
input{
  border-radius: 10px;
  height: 2rem;
  margin-top: 10px;
}

.film{
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}