.container{
            width: 70%;
            margin: auto;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: rgb(195, 248, 230);
            padding: 15px;
        }
        .m-head{
            text-align: right;
            color: rgb(154, 144, 133);
        }

        .item{
            display: flex;
            justify-content: space-between;
            background-color: rgb(28, 121, 109);
            padding-left: 10px;
            padding-right: 10px;
            color: aliceblue;
        }
        .m-link{
            width: 50%;
            display: flex;
            justify-content: space-around;
        }
        .m-link2{
            width: 60%;
            display: flex;
            justify-content: space-around;
        }
        .link{
            text-decoration: none;
            color: rgb(39, 37, 37);
            border: 1px solid white;
            background-color: beige;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 10px;

        }
        .head2{
            order: 1;
        }
        .task1{
            background-color: blueviolet;
            text-align: center;
            border-radius: 10px;
            color: white;
        }